body {
  font-family: "Lato",sans-serif;
  color: #b7b7b7;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

.form {
  align-items: center;
  color: rgb(0, 9, 128);
  height: 50%;
  width: 30%;
  font-weight: bold;
  position: sticky;
  top: 15%;
}

.form-control{
  width: 100%;
  padding: 2%;
}

.input{
  width: 90%;
  margin-left: 10%;
  height: 1.5em;
  font-size: 100%;
  color:  rgb(0, 9, 128);
}

#button{
  background-color: rgb(0, 9, 128);
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

input,textarea{
  border: 2px solid rgb(0, 9, 128);
}

.adminAddProduct{
  display: flex
}

.allProductsPage{
  display: flex;
  flex-direction: column
}

.products{
  display:flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.required{
  padding:1%;
  font-size:.75em;
  font-style: italic;
  text-align: right
}

#button:disabled{
  background-color: gray;
  border: none
}


#NavBar{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 20%;
  color: #b7b7b7;
}

#title h1{
  font-family: 'Homemade Apple', cursive;
  color: #DABC85;
  font-size: 300%;
  margin: 0;
  padding:0;
}

#links{
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.083em;
  text-transform: uppercase;
}

#links a{
  color: #b7b7b7;
}

#links a:hover{
  color: black;
}

.about{
  display: flex;
  margin: 5%;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.083em;
  justify-content: space-evenly
}

.ourStory{
  width: 30%;
  text-align: justify
}

.ourStory p{
  font-size: 1.3em
}

.Team{
  margin-left: 5%;
  width: 60%;
  text-align: center
}

.teamContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center
}


.teamContainer figure{
  width: 40%;
  height: auto;
  padding: 2%;
  margin: 0;
}

.teamContainer img{
  width: 100%;
  height: auto;
  border-radius: 16%;
  box-sizing: border-box;
}

.teamContainer h5{
  padding:0;
  font-size: 2em;
  margin:0
}

.teamContainer span{
  font-size: 1.5em
}